@font-face {
	font-family: 'KoPub Batang (Subset)';
	font-style: normal;
	font-weight: 400;
	src:
		url(KoPubBatangSubset.woff2) format('woff2'),
		url(KoPubBatangSubset.ttf) format('truetype');
}

@font-face {
	font-family: 'Noto Sans KR (Subset)';
	font-style: normal;
	font-weight: 400;
	src:
		url(NotoSansKRSubset.woff2) format('woff2'),
		url(NotoSansKRSubset.otf) format('opentype');
}

html, body{
	width: 100%;
	height: 100%;
}
body{
	font-family: '맑은 고딕', 'Malgun Gothic', '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo', Ngothic, sans-serif;
	/* The attribute below is required for CJK users from seeing wierd hard line return. */
	word-break: keep-all;

	box-sizing: border-box;
	margin: 0;
	padding: 100px 10px 10px;

	background: #222;
	position:relative;
}

a {
	color: #ffcb33;
	text-decoration: inherit;
}
a:hover {
	text-decoration: underline;
}

#stage {
	position: relative;
	max-width: 960px;
	margin: 0 auto;
}
#stage > canvas {
	width: 100%;
	cursor: none !important;
	display: block;
}

.overlay {
	display: none;

	padding-top: 170px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	color: #fff;
	text-align: center;
	letter-spacing: 1px;
}
.overlay > * { margin: 0 }
.overlay > h1 {
	font-size: 100px;
	font-weight: normal;
}
.overlay > p {
	font-size: 20px;
}
#paused {
	background: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}
#webgl-error {
	cursor: auto;
}

/* Workaround to prefetch desired webfont for IE & Safari */
.prefetch {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
}
#f1 { font-family: 'KoPub Batang (Subset)'; }
#f2 { font-family: 'Noto Sans KR (Subset)'; }
